:root {
--cor-site:#A6A1A1;
}
html{
    font-family: sans-serif;
}
body{
    background-color:#c9c9c3;
}
.maxWidth{
    max-width: 90em; /*1440px/ 16=90em*/
}
header{
    text-align: center;
    margin: auto;
}
.header_logo{
    width: 100px; /* Define o tamanho do logotipo */
    height: 100px; /* Mantém a mesma altura e largura para criar um círculo */
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Adiciona sombra ao redor do logotipo */
}
.header_nav{
    background-color: var(--cor-site);
}
.trailer h1{
    font-size: 2em;
    margin-bottom: 1em;
}
.trailer_paragrafo{
    font-size: 1.1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    color: #595551;

}
/* Estilos para centralizar o vídeo */
.trailer_video {
    text-align: center;
}

.video_container {
    position: relative;
    width: 100%;
    padding-bottom: 33.33%; /* Proporção 4:3 para o vídeo */
    margin-bottom: 20px;
    overflow: hidden;
}

.video_container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Estilo para o botão */
.trailer_botao {
    display: block;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    background-color: var(--cor-site);
    color: #595551;
    text-decoration: none;
    border-radius: 5px;
    text-transform: uppercase;
}
.trailer_botao{
    margin-top: 1em;
    padding:1em 2em;
    background-color: var(--cor-site);
    border-radius: 5px;
    text-decoration: none;    
}
.trailer_botao:hover{
    background-color: color-mix(in srgb,var(--cor-site),#595551 20%);
}
.trailler_botao_article{
    display: inline-block;
    margin-top: 3em;
    padding:1em 2em;
    background-color: var(--cor-site);
    border-radius: 5px;
    text-decoration: none;
    color: #595551;
    text-transform: uppercase;
}
.trailler_botao_article:hover{
    background-color: color-mix(in srgb,var(--cor-site),#595551 20%);
}
.conteudo_centralizado {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Estilos para as imagens e botões dentro do conteúdo centralizado */
.conteudo_centralizado .col {
    margin: 50px; /* Ajusta conforme necessário */
}
.ul{
    margin:0;
}
.header_nav ul{
    list-style-type: none;
    padding:0;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: .8em;
}
.header_nav a{
    color:rgb(68, 66, 64);
    text-decoration: none;
    display: block;
    padding: 1em;
}
.header_nav a:hover{

background-color: color-mix(in srgb,var(--cor-site),#595551 20%);
}
.imagem{
        width: 150px; /* Largura da imagem */
        height: 150px; /* Altura da imagem (mesmo valor para manter a forma redonda) */
        border-radius: 50%;
        display: block;
        margin: 0 auto; /* Centraliza horizontalmente */
        overflow: hidden;

}
article .imagem:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}
article .imagem{
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}
footer{
    text-align: center; 
    background-color: #D9D2D3;
    padding: 0.5em;
    font-style: italic;
    text-decoration-color: black;
}

.fonte{
    font-family: 'Sevillana' cursive;
    text-align: center;
    color:rgb(101, 98, 95) ;
    font-size: 1.1em;
}
.trailer_video{
    width: 600px;
    height: 400px;
}
@media screen and (max-width: 768px) 
{
    .header {
        display: flex;
    }
    .header_nav {
        margin-left: 4rem;
    }
    .trailer_video{
        display: none;
        width:300px;
        height: 200px;
    }
}

@media screen and (min-width:48em){
    .col-6{
        width: calc(50% - 2rem);
    }
}